.home-events {
  background-color: $bone-white;
  background-image: url('/assets/img/img262.jpg');
  background-position: center;
  background-size: cover;
}

.home-events__lead {
  color: $text-secondary-colour;
  @extend .home-lead;
}

.home-events__item-group {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

.home-events__item {
  margin-bottom: 1.5em;
  width: 300px;
}

.home-events__title {
 color: $text-secondary-colour;
}

.home-events__location,
.home-events__date-time,
.home-events__description {
  color: $text-secondary-colour;
}

@media(max-width:768px) {
  .home-events__inner {
    flex-direction: column;
    align-items: center;
  }
}
