//home page course gallery

.gala{
  background-color: $primary-blue;
  background-image: url("/assets/img/gala-banner.jpg");
  background-position: center;
  background-size: cover;
  height: 768px;
}

.home-gala__inner {
  -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    height: 700px;
}

.gala__link{
  display: block;
  width:100%;
  height:100%;
}

.gala-form-container {
  width:660px;
}

.gala-form-inner {
  margin-left: 50px;
  margin-right: 50px;
}

.gala-attendance-message {
  color: $text-secondary-colour;
  padding: 20px;
  font-weight: bold;
  width: 450px;
  float:left;
}

.gala-button {
  background-color: $text-secondary-colour;
  color: $text-colour;
  float: right;
}

@media(min-width:1730px){
  .gala{
    height: 768px;
  }

  .home-gala__inner {
      height: 700px;
  }

  .gala-form-container {
    width:660px;
  }

  .gala-form-inner {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media(max-width:768px) {
  .gala{
    height: 400px;
  }

  .home-gala__inner {
      height: 370px;
  }

  .gala-form-container {
    width:100%;
  }

  .gala-form-inner {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width:26.5625em) and (max-width:48em) {
  .gala{
    height: 400px;
  }

  .home-gala__inner {
      height: 370px;
  }

  .gala-form-container {
    width:100%;
  }

  .gala-form-inner {
    margin-left: 30px;
    margin-right: 30px;
  }
}
