//video-mask-kcc section begins here

.home-intro {
  height: 720px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.home-intro__video {
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  //z-index: -1000; This was not workng and was locking down video in mobile
}

.home-intro__header-container {
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  position: relative;
  top: 30%
}

.home-intro__header-inner-container{
  bottom: 0;
  color: $ochre;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 30%;
  z-index: 2;
}

.home-intro__headline {
  text-align: center;
  text-transform: uppercase;
  background-image: url('/assets/img/power-of-community-banner.svg');
  background-repeat: no-repeat;
    fill: $text-secondary-colour;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 105px;
  display: block;
  text-indent: -9999px;
}

.home-intro__header-cta {
  -webkit-animation: fadeInUp .5s ease 2.5s both;
  animation: fadeInUp .5s ease 2.5s both;
  display: block;
  width: 51px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/assets/img/cta.svg)
}

@media(min-width:1730px){
  .home-intro__headline {
    background-size: 72%;
  }
}
@media(max-width:767px){
  .home-intro {
    height: 100%;
    width: 100%;
    padding-bottom: 56.25%;
  }

  .home-intro__header-container {
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    position: relative;
    top: 30px
  }

  .home-intro__video {
    width: 100%;
  }

  .home-intro__header-inner-container{
    bottom: 0;
    color: $ochre;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20%;
    z-index: 2;
  }
  .home-intro__headline {
    margin: 0;
  }
  .home-intro__headline-image{
    width:100%;
  }

  .home-intro__header-cta {
    display: none;
  }
}
