//power-of-community section of homepage
.p1 {
  position: relative;
}

.power-of-community__text {
  bottom: 0;
  color: #0e3c63;
  font-weight: 400;
  width: 737px;
  font-size: 22px;
  padding-left: 20px;
}

.power-of-community {
  background-color: $ochre;
  background-image: url('/assets/img/goldshine.jpg');
  background-size: cover;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}

.power-of-community .logo {
  background-image: url(/assets/img/kcc50logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  margin: 0 auto;
  text-indent: -9999px;
  width: 191px;
  }

.power-of-community__inner-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
}

.power-of-coumunity__headline {
  text-transform: uppercase;
  font-size: 40px;
  color: $primary-blue;
}

@media(max-width:767px) {
  .power-of-community__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
