.home-timeline {
  background-color: $bone-white;
  background-image: url("/assets/img/Commencement-in-a-tent.jpg");
  background-position: center;
  background-size: cover;
  height: 610px;
}

.home-timeline__inner {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.home-timeline h2 {
  color: $white;
}

.home-timeline__home-lead {
  background-image: url('/assets/img/timeline-headline.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  background-color: $primary-red;
  fill: $white;
  width: 100%;
  height: 105px;
  display: block;
  text-indent: -9999px;
}

.home-timeline a {
  -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: block;
      width: 153px;
      height: 153px;
      text-indent: -9999px;
      margin-left: 10px;
      margin-right: 10px;
}

.home-timeline__decades {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
  width: 600px;
}

.home-timeline__cta--60s {
  background-image: url("/assets/img/60-circle.png");
}
.home-timeline__cta--70s {
  background-image: url("/assets/img/70-circle.png");
}
.home-timeline__cta--80s {
  background-image: url("/assets/img/80-circle.png");
}
.home-timeline__cta--90s {
  background-image: url("/assets/img/90-circle.png");
}
.home-timeline__cta--00s {
  background-image: url("/assets/img/00-circle.png");
}
.home-timeline__cta--10s {
  background-image: url("/assets/img/10-circle.png");
}

@media(max-width:768px) {

  .home-timeline {
    height: 671px;
  }

  .home-timeline__home-lead {
    height: 44px;
    background-size: contain;
  }

  .home-timeline__decades {
    width:auto;
  }
  .home-timeline a {
      display: block;
      width: 100%;
      height: 85px;
      text-indent: 0;
      text-align: center;
      background-color: rgba(14, 60, 99, 0.7);
      color: #f4d081;
      font-size: 36px;
      font-weight: 400;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid;
      line-height: 2.3;
      }

  .home-timeline__cta--60s {
    background-image: none;
  }
  .home-timeline__cta--70s {
    background-image: none;
  }
  .home-timeline__cta--80s {
    background-image: none;
  }
  .home-timeline__cta--90s {
    background-image: none;
  }
  .home-timeline__cta--00s {
    background-image: none;
  }
  .home-timeline__cta--10s {
    background-image: none;
  }
}

@media (min-width:26.5625em) and (max-width:48em) {
  .home-timeline__home-lead {
    height: 50px;
    background-size: contain;
  }
}
