.home-timeline {
  background-color: $bone-white;
  background-image: url("/assets/img/img344.jpg");
  background-position: center;
  height: 600px;
}

.home-timeline h2 {
  color: $white;
}

.home-timeline a {
  justify-content: center;
  align-items: center;
}
