---
layout: default
title: Home
---
  <section id="home-intro" class="home-intro">
    <video class="home-intro__video" muted autoplay loop>
      <source src="assets/Community.mp4" type="video/mp4">
  </video>
  <div class="home-intro__header-container">
  <div class="home-intro__header-inner-container">
  <h1 class="home-intro__headline">The Power of Community</h1>
  <a href="#power-of-community" class="home-intro__header-cta"></a>
  </div>
  </div>
  </section>

  <section id="gala" class="gala">
    <div class="home-gala__inner flex flex--center">
      <div>
      <a href="/gala-reservation/" class="contact__button button home-cta">RSVP now</a>
    </div>
    </div>
  </section>

  <section id="gala-sponsors" class="gala-sponsors">
    <h1 class="large center gala-sponsors__title">Gala Sponsors</h1>
<div class="gala-sponsors center">
	<img class="gala-sponsor" src="/assets/img/carlile-architects-logo.jpg" alt="carlile-architects-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/CSLB-logo.jpg" alt="CSLB-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/gordon-electric-supply-inc.jpg" alt="gordon-electric-supply-inc.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/milner.jpg" alt="milner.jpg">
	<img class="gala-sponsor" src="/assets/img/nucor.jpg" alt="nucor.jpg">
	<img class="gala-sponsor" src="/assets/img/riverside.jpg" alt="riverside.jpg">
</div>
  </section>

  <section id="courses-gallery" class="course-gallery">

    <div class="home-course-inner flex--center flex">
      <div class='home-course-gallery'>
        {% assign sorted = (site.courses | sort: 'Date')%}
        {% for course in sorted %}
        {% if course.Status contains 'Open' or course.Status contains 'Only paying seats available'%}
          <div class='imgWrap imgWrap1' style='background-image:url(/assets/img/courses/{{ course.Image }}); '><a class="home-course__link" href="{{ course.url }}">{{ course.Title }}</a></div>
        {% endif %}
        {% endfor %}

      </div>
    </div>
    <div class="home-course__inner-b flex flex--center">
        <h2 class="card--headline">Fifty Free courses</h2>
        <p class="home-course__text"><b>Fifty</b> free continuing education classes will be offered throughout the year.</p>
        <a href="/courses/" class="home-course__gallery-button button home-cta">Upcoming schedule</a>
    </div>
  </section>

  <section class="home-intro">
    <video class="home-intro__video" muted autoplay loop>
      <source src="assets/Achievement.mp4" type="video/mp4">
  </video>
  </section>

  <section id="home-timeline" class="home-timeline">
    <div class="home-timeline__inner flex flex--center">
        <h2 class="home-timeline__home-lead home-lead">50 years 1966 - 2016</h2>
        <div class="home-timeline__decades flex">
        <a class="home-timeline__cta--60s" href="/1960s/">1960s</a>
        <a class="home-timeline__cta--70s" href="/1970s/">1970s</a>
        <a class="home-timeline__cta--80s" href="/1980s/">1980s</a>
        <a class="home-timeline__cta--90s" href="/1990s/">1990s</a>
        <a class="home-timeline__cta--00s" href="/2000s/">2000s</a>
        <a class="home-timeline__cta--10s" href="/2010s/">2010s</a>
      </div>
    </div>
  </section>
  <section id="tell_us_your_story" class="contact flex flex--center">
    <h2 class="contact__home-lead">Tell us your story</h2>
    <ul class="contact__home-photo-group">
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Andy-Senesac.aspx"><img class="contact__home-photo" src="/assets/img/andy-tell-us.jpg" alt="photo of Andy Senesac" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Kriston-and-Kayla-Love.aspx"><img class="contact__home-photo" src="/assets/img/love-1-tell-us.jpg" alt="photo of Kriston Love" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Jesse-Arseneau.aspx"><img class="contact__home-photo" src="/assets/img/jesse-tell-us.jpg" alt="photo of Jesse Arseneau" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Kriston-and-Kayla-Love.aspx"><img class="contact__home-photo" src="/assets/img/love-2-tell-us.jpg" alt="photo of Kayla Love" width="264" height="264"></a></li>
    </ul>
    <p class="contact__home-text">We're proud to feature our students and alumni in our ads.<br />We want to know about your KCC experience, too.<br />Tell us more about your KCC story!</p>
    <a href="/contact/" class="contact__button button home-cta">Share with us</a>
  </section>
  <section id="home-events" class="home-events">
    <h2 class="home-events__lead">Events</h2>
    <div class="home-events__inner flex flex--center">
      <ul class="home-events__item-group-a">
        <li class="home-events__item">
          <a href="/gala/" class="home-events__title big">Power of Community Gala</a><br />
          <span class="home-events__location">KCC’s Riverfront Campus</span><br />
          <span class="home-events__date-time">Saturday, May 20, 6 p.m. 2017</span>
        </li>
      </ul>
      <ul class="home-events__item-group-b">

          <li class="home-events__item">
            <a href="/events/art-walk/" class="home-events__title big">Art &amp; Cocktails</a><br />
            <span class="home-events__location">KCC's Riverfront Campus</span><br />
            <span class="home-events__date-time">Thursday, April 13, 5:30 p.m. 2017</span>
          </li>
      </ul>
    </div>
    <div class="home-events__inner-b flex flex--center">
        <a href="/events/" class="home-events__button button home-cta">Full event list</a>
    </div>
  </section>
