---
layout: default
title: Home
---
  <section id="home-intro" class="home-intro">
    <video class="home-intro__video" muted autoplay loop>
      <source src="assets/Community.mp4" type="video/mp4">
  </video>
  <div class="home-intro__header-container">
  <div class="home-intro__header-inner-container">
  <h1 class="home-intro__headline">The Power of Community</h1>
  <a href="#power-of-community" class="home-intro__header-cta"></a>
  </div>
  </div>
  </section>
  <section id="power-of-community" class="power-of-community">
  <div class="power-of-community__inner-container">
    <h2 class="power-of-coumunity__headline">You know our grads</h2>
    <div class="power-of-community__par">
    <p class="power-of-community__text">KCC’s mission is Enhancing Quality of Life through Learning. It says so much about what we provide for our community. With more than 14,000 graduates since 1970, you likely know our alumni.</p><p class="power-of-community__text">They educate our children, care for us when we’re sick, tell our stories, keep order, help others, and build our economy.
    We call it the <b>Power of Community</b>. In fact, that’s our tag line this year as we celebrate our 50th anniversary.</p>
  </div>
  </div>
  </section>

  <section id="courses-gallery" class="course-gallery">
    <div class="home-course-inner flex--center flex">
      <div class='home-course-gallery'>
        <div class='imgWrap imgWrap1' style='background-image:url(/assets/img/courses/beginning-photography-dpc_78949277.jpg); '><a class="home-course__link" href="/courses/beginning-photography/">Beginning<br />Photography</a></div>
        <div class='imgWrap imgWrap2' style='background-image:url(/assets/img/courses/the-micro-brew-process-dpc_69949698.jpg);'><a class="home-course__link" href="/courses/the-micro-brew-process">The Micro Brew Process</a></div>
        <div class='imgWrap imgWrap3' style='background-image:url(/assets/img/courses/traveling-for-free-dpc_92360585.jpg);'><a class="home-course__link" href="/courses/free-travel">Free Travel</a></div>
        <div class='imgWrap imgWrap4' style='background-image:url(/assets/img/courses/iphone_iS_000016367725Medium.jpg);'><a class="home-course__link" href="/courses/iphone-basics-1/">Iphone Basics</a></div>
        <div class='imgWrap imgWrap5' style='background-image:url(/assets/img/courses/now-hiring-iS-24958020-HiRes.jpg);'><a class="home-course__link" href="/courses/write-a-cover-letter-that-gets-noticed/">Write a Cover Letter<br />That Gets Noticed</a></div>
        <div class='imgWrap imgWrap6' style='background-image:url(/assets/img/courses/real-ghosts-of-kankakee-valley-dpc_68212895.jpg);'><a class="home-course__link" href="/courses/real-ghosts-of-kankakee-valley/">Real Ghosts of<br />Kankakee Valley</a></div>
      </div>
    </div>
    <div class="home-course__inner-b flex flex--center">
        <h2 class="card--headline">Fifty Free courses</h2>
        <p class="home-course__text"><b>Fifty</b> free continuing education classes will be offered throughout the year.</p>
        <a href="/courses/" class="home-course__gallery-button button home-cta">Upcoming schedule</a>
    </div>
  </section>

  <section class="home-intro">
    <video class="home-intro__video" muted autoplay loop>
      <source src="assets/Achievement.mp4" type="video/mp4">
  </video>
  </section>

  <section id="home-timeline" class="home-timeline">
    <div class="home-timeline__inner flex flex--center">
        <h2 class="home-timeline__home-lead home-lead">50 years 1966 - 2016</h2>
        <div class="home-timeline__decades flex">
        <a class="home-timeline__cta--60s" href="/1960s/">1960s</a>
        <a class="home-timeline__cta--70s" href="/1970s/">1970s</a>
        <a class="home-timeline__cta--80s" href="/1980s/">1980s</a>
        <a class="home-timeline__cta--90s" href="/1990s/">1990s</a>
        <a class="home-timeline__cta--00s" href="/2000s/">2000s</a>
        <a class="home-timeline__cta--10s" href="/2010s/">2010s</a>
      </div>
    </div>
  </section>
  <section id="tell_us_your_story" class="contact flex flex--center">
    <h2 class="contact__home-lead">Tell us your story</h2>
    <ul class="contact__home-photo-group">
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Andy-Senesac.aspx"><img class="contact__home-photo" src="/assets/img/andy-tell-us.jpg" alt="photo of Andy Senesac" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Kriston-and-Kayla-Love.aspx"><img class="contact__home-photo" src="/assets/img/love-1-tell-us.jpg" alt="photo of Kriston Love" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Jesse-Arseneau.aspx"><img class="contact__home-photo" src="/assets/img/jesse-tell-us.jpg" alt="photo of Jesse Arseneau" width="264" height="264"></a></li>
      <li class="contact__home-photo-item"><a href="http://www.kcc.edu/future/students/Pages/Kriston-and-Kayla-Love.aspx"><img class="contact__home-photo" src="/assets/img/love-2-tell-us.jpg" alt="photo of Kayla Love" width="264" height="264"></a></li>
    </ul>
    <p class="contact__home-text">We're proud to feature our students and alumni in our ads.<br />We want to know about your KCC experience, too.<br />Tell us more about your KCC story!</p>
    <a href="/contact/" class="contact__button button home-cta">Share with us</a>
  </section>
  <section id="home-events" class="home-events">
    <h2 class="home-events__lead">Events</h2>
    <div class="home-events__inner flex flex--center">
      <ul class="home-events__item-group-a">
        {% for event in site.data.events | limit:2 %}
          <li class="home-events__item">
            <a href="/events/{{ event.Pageurl }}" class="home-events__title big">{{ event.Title }}</a><br />
            <span class="home-events__location">{{ event.Location }}</span><br />
            <span class="home-events__date-time">{{ event.Date-Time }}</span>
          </li>
        {% endfor %}
      </ul>
      <ul class="home-events__item-group-b">
        {% for event in site.data.events | limit:2 | offset:2 %}
          <li class="home-events__item">
            <a href="/events/{{ event.Pageurl }}" class="home-events__title big">{{ event.Title }}</a><br />
            <span class="home-events__location">{{ event.Location }}</span><br />
            <span class="home-events__date-time">{{ event.Date-Time }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="home-events__inner-b flex flex--center">
        <a href="/events/" class="home-events__button button home-cta">Full event list</a>
    </div>
  </section>
