.course-card {
  background-color: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-left: 35px;
  margin-top: 35px;
  padding: 30px;
  width: 861px;
}

.course-card__title {
  color: $primary-red;
}

.course-card__cta {
  background-color: $primary-blue;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: $white;
  font-weight: bold;
}

.course-card__photo {
  border: 1px solid $grey-3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content:flex-end;
}

.course-card_inner-col-b {
  display: block;
  margin-right: 30px;
}

@media(max-width:767px){
  .course-card {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
}
