.course-card {
  background-color: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 35px;
  padding: 30px;
  width: 861px;
}

.course-card__title {
  color: $primary-red;
}

.course-card__cta {
  background-color: $primary-blue;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: $white;
  font-weight: bold;
  margin-bottom: 30px;
}

.course-card__photo {
  border: 1px solid $grey-3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2.0em;
  display: block;
  width: 300px;
  height: 380px;
}

.course-card_inner-col-b {
  display: block;
  margin-right: 30px;
  width: 475px;
}

.course-card_inner-col-b p{
  font-weight: 400;
}
.course-card_inner-col-b b{
  font-size: 18px;
}

@media(max-width:767px){
  .course-card {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }

  .course-card_inner-col-b {
    display: block;
    width: auto;
  }

  .course-card__photo {
    margin-top: 0;
    width: 100%;
    height: auto;
  }
}
