.decades__page {
  background-color: $ochre;
}
.decade {
  background-color: $primary-red;
  padding: 20px 0 20px 40px;
}
.decade-year {
  color: $white;
  margin: 0;
}
.timeline-event__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.timeline-event__item-info {
  display: block;
  width: 50%;
}
.timeline-event__date {
  color: $primary-blue;
  font-size: 43px;
  margin-bottom: 5px;
  margin-top: 0;
}
.timeline-event__title {
  color: $primary-red;
  font-size: 31px;
  margin-top: 0;
  margin-bottom: 0.1em;
}
.timeline-event__description {
  color: $primary-blue;
  font-size: 18px;
  font-weight: 400;
}

.timeline-event__photo {
  border: 1px solid $grey-3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: 10px;
}

.timeline-event__accredited {
  width: 300px;
  margin-left: 10px;
}

.timeline-event__accredited img {
  border: 1px solid $grey-3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.timeline-event__photo-caption {
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
}
@media(max-width:767px) {

  .decade {
    padding-left: 20px;
  }

  .timeline-event__group {
    padding-left: 20px;
    padding-right: 20px;
  }
  .timeline-event__item {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .timeline-event__item-info {
    width: auto;
  }

  .timeline-event__photo {
    margin-left: 0;
    max-width: 100%;
  }

  .timeline-event__accredited {
    margin-left: 0;
    max-width: 100%;
  }

  .timeline-event__accredited img {
    margin-left: 0;
    max-width: 100%;
  }
}
