.decades__page {
  background-color: $ochre;
}
.decade {
  background-color: $primary-red;
  padding:20px 0 20px 40px;
}
.decade-year {
  color: $white;
  margin: 0;
}
.timeline-event__item {
  display: flex;
  margin-bottom: 30px;
}
.timeline-event__item-info {
  display: block;
  width: 50%;
}
.timeline-event__date {
  color: $primary-blue;
  font-size: 43px;
  margin-top: 0;
  margin-bottom: 5px;
}
.timeline-event__title {
  color: $primary-red;
  font-size: 31px;
  margin-top: 0;
  margin-bottom: 0.1em;
}
.timeline-event__description {
  font-size: 18px;
  color: $primary-blue;
  font-weight: 400;
}

.timeline-event__photo {
  border: 1px solid $grey-3;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: 10px;
}

@media(max-width:767px){
  .timeline-event__item {
    flex-direction: column;
    margin-left: 0;
    margin-right: 20px;
    width: auto;
  }

  .timeline-event__item-info {
    width: auto;
  }

  .timeline-event__photo {
    margin-left: 10px;
  }
}
