.event-card__item {
  background-color: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-left: 35px;
  margin-top: 35px;
  padding: 30px;
  width: 861px;
  flex-direction: column;
}

.event-card__title {
  color: $primary-red;
}

@media(max-width:767px){
  .event-card__item {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
}
