.fifty-fabulous-alumni__page {
  background-color: $ochre;
}

form {
  background-color: $ochre;
}
.form-header-group {
  border-color: $ochre;
}
.form-matrix-table tr {
  border-color: $ochre;
}
.form-matrix-table tr:nth-child(2n) {
  background-color: $ochre;
}

.fiftyfabalumni-card__item {
  background-color: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: 35px;
  margin-top: 35px;
  padding: 0 30px 30px 30px;
  width: 320px;
}

.fiftyfabalumni-card__title {
  background-color: $primary-blue;
  color: $text-secondary-colour;
  font-size: 1.2em;
  height: 70px;
  line-height: 70px;
  padding-right: 30px;
  margin: 0 -30px auto -30px;
  text-align: right;
  vertical-align: text-bottom;
}

.fiftyfabalumni-card__item p{
  font-weight: 400;
  padding-top: 20px;
}
.fiftyfabalumni-card__item b{
  font-size: 18px;
}

@media(max-width:767px){
  .fiftyfabalumni-card__item {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
