.gala__page {
  background-color: $ochre;
  background-image: url('/assets/img/goldshine.jpg');
  background-size: cover;
}

.gala__item-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gala__lead {
  color: $navy-blue;
  @extend .home-lead;
}

.gala__item {
  background-color: $white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
}

.gala__title{
  color: $primary-red;
}

.gala__location {
  font-weight: 400;
}
.gala__location b{
  font-size: 18px;
}

.gala__date-time {
  font-weight: 400;
}
.gala__date-time b{
  font-size: 18px;
}

.gala__cta-icon {
  background: $navy-blue;
  color: $text-secondary-colour;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
  padding: 0.0em 0.3em;
  text-align: center;
  transition: all 0.15s ease-in-out;
border-radius: 50%;}

.gala__cta-icon:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4); }

@media(max-width:767px){
  .gala__item.col-2 {
    width: 70%;
  }
}
