//video-mask-kcc section begins here

.home-intro {
  height: 720px;
  padding: 0;
  position: relative;
}

.home-intro video {
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: -1;
}

.home-intro__header-container {
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  position: relative;
  top: 30%
}

.home-intro__header-inner-container{
  bottom: 0;
  color: $ochre;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 30%;
  z-index: 2;
}

.home-intro__header-cta {
  -webkit-animation: fadeInUp .5s ease 2.5s both;
  animation: fadeInUp .5s ease 2.5s both;
  display: block;
  width: 51px;
  height: 52px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/assets/img/cta.svg)
}

//power-of-community section of homepage
.p1 {
  position: relative;
}

.text3 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 2;
}

.power-of-community {
  background-color: $ochre;
  position: relative;
}

//humble-beginnings section of homepage
.humble-beginning {
  background-color: $primary-red;
  overflow:hidden;
}

.humble-beginning hr {
  border: solid $text-secondary-colour;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 10px 0 30px;
}

.humble-beginning__img-block-a {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 47%;
}

.humble-beginning__beginnings .humble-beginning__container .img-block-b {
  bottom: auto;
  box-shadow: 0 0 38px rgba(0, 0, 0, 0.13);
  float: left;
  left: 8%;
  margin-top: 8%;
  position: relative;
  right: auto;
  top: 0;
}

.humble-beginning__beginnings {
  height: auto;
  margin-top: 0;
  padding: 0 140px;
  position: relative;
}

.humble-beginning__beginnings .container {
  height: 100%;
  position: relative;
}

.humble-beginning__paracontent {
  width: 18%;
}

.humble-beginning__beginnings .container .paracontent {
  float: left;
  margin-top: 12%;
}

.humble-beginning__paracontent {
  color: $text-secondary-colour;
  opacity: 0;
  -webkit-transform: translatex(-20px);
    -ms-transform: translatex(-20px);
        transform: translatex(-20px);
  transition: all 300ms ease-in-out;
}

.humble-beginning__paracontent h2 {
  color: $text-secondary-colour;
}
.humble-beginning__paracontent.is-visible{
  opacity: 1;
  -webkit-transform: translatex(0px);
    -ms-transform: translatex(0px);
        transform: translatex(0px);
}

.humble-beginning__img-block-a{
  opacity: 0;
  -webkit-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
        transform: translatey(-20px);
  transition: all 300ms ease-in-out;
}

.humble-beginning__img-block-a.is-visible{
  opacity: 1;
  -webkit-transform: translatey(0px);
    -ms-transform: translatey(0px);
        transform: translatey(0px);
}

.humble-beginning__img-block-b{
  opacity: 0;
  -webkit-transform: translatey(20px);
    -ms-transform: translatey(20px);
        transform: translatey(20px);
  transition: all 300ms ease-in-out;
}

.humble-beginning__img-block-b.is-visible{
  opacity: 1;
  -webkit-transform: translatey(0px);
    -ms-transform: translatey(0px);
        transform: translatey(0px);
}

@media(max-width:1199px){

  padding: 0 40px;

  .humble-beginning__container {
    padding: 0;
  }

  .humble-beginning__paracontent {
    width: 50%;
  }

  .humble-beginning__img-block-a {
    display: none;
  }

  .humble-beginning__img-block-b {
    width: 50%;
  }
}

@media(max-width:767px){
		padding: 0 30px;
		min-height: 310px;
	}

	.humble-beginning__container {

		width: 100%;
		height: auto;
		background: transparent;

		.humble-beginning__paracontent {
			float: left;
			margin-top: 12%;
		}

		.humble-beginning__img-block-a {

		}

		.humble-beginning__img-block-b {

			position: relative;
			float: left;
			top: 0px;
			left: 8%;
			right: auto;

			box-shadow: 0 0 38px rgba(0,0,0,0.13);
			bottom: auto;
			margin-top: 8%;
		}

		@media(max-width:767px){

			width: 120%;

			.humble-beginning__paracontent {
				width: 42%;
				margin-bottom: 30px;
			}

			.humble-beginning__img-block-b {
				float: right;
				position: relative;
				left: auto;
				right: 0%;
				width: 58%;
			}
		}
	}

//Home page section--free-courses begings here
.section--free-courses {
 background-color: $bone-white;
 min-height: 600px;
 padding: 0 0;
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}

.card--free-courses-a {
  background-color: $bone-white;
  background-image: url("/assets/img/background.png");
  background-position: center;
  background-size: cover;
  height: 600px;
  opacity: 0;
  -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
        transform: translateX(-20px);
  transition: all 300ms ease-in-out;
}

.card--free-courses-b {
  position: relative;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card--free-courses-a.is-visible{
  opacity: 1;
  -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
        transform: translateX(0px);
}

.card--free-courses-b.is-visible {
  opacity: 1;
}

.card--headline {
  color: $text-colour;
  text-align: center;

}

//Homepage section--points-of-interest begins here
.section--points-of-interest {
 background-color: $bone-white;
 min-height: 600px;
 padding: 0 0;
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}

.card--points-of-interest-a {
  position: relative;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card--points-of-interest-b {
  background-color: $bone-white;
  background-image: url("/assets/img/20100820_IMG_0969.png");
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
        transform: translateX(-20px);
transition: all 300ms ease-in-out;
}

.card--points-of-interest-b.is-visible{
  opacity: 1;
  -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
        transform: translateX(0px);
}

.card--headline h2 {
  color: $text-colour;
}

section.row.section--free-courses,
section.row.section--points-of-interest,
section.row.timeline {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

footer {
  background-color: $ochre;
  height: 200px;
}

.footer__logo {
  width: 465px;
}

#home-timeline {
  background-color: $bone-white;
  background-image: url("/assets/img/50.png");
  background-position: center;
  height: 600px;
}

#home-timeline h2 {
  color: $black;
}

.home-events {
  background-color: $navy-blue;
}

.home-events__lead {
  color: $text-secondary-colour;
  @extend .home-lead;
}

.home-events__item-group {
  list-style: none;
}

.home-events__item {
  margin-bottom: 1.5em;
}

.home-events__title {
 color: $text-secondary-colour;
}

.home-events__location,
.home-events__date-time,
.home-events__description {
  color: $text-secondary-colour;
}

.contact {
  background-color: $light-blue-grey;
}

.content-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

@media (max-width: 775px) {
  .content-wrap {
    display: block;
  }
}

.home-sections {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

section {
  padding: 50px 0;
}

.home-sections .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
// Flex classes
.home-sections .flex--center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-sections .flex--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.home-sections .order-first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
// typography
.home-lead {
  text-align: center;
}

.home-cta {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 28px;
  line-height: 1.25;
  padding: 0.4em 0;
  text-align: center;
  transition: all 0.15s ease-in-out;
}

.home-cta:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
}
