@import '4-pages/home-page/home-intro';
@import '4-pages/home-page/stats';

.card--free-courses-a {
  background-color: $bone-white;
  background-image: url("/assets/img/background.png");
  background-position: center;
  background-size: cover;
  height: 600px;
  opacity: 0;
  -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
        transform: translateX(-20px);
  transition: all 300ms ease-in-out;
}

.card--free-courses-b {
  position: relative;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@import '4-pages/home-page/timeline';
@import '4-pages/home-page/course-gallery';
@import '4-pages/home-page/events';

.contact {
  background-color: $light-blue-grey;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact__home-lead{
  color: $primary-red;
  @extend .home-lead;
}
.content-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 100vh;
}

.contact__button{
  box-sizing: border-box;
  padding: 0 10px;
  width: 320px;
}

@media (max-width: 775px) {
  .content-wrap {
    display: block;
  }
}

.home-sections {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh;
}

section {
  padding: 50px 0;
}

.free-courses,
.get-involved,
.contact
 {
  padding: 0;
}

@media (max-width: 775px) {
  .free-courses,
  .get-involved,
  .contact
  {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.home-sections .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
// Flex classes
.home-sections .flex--center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-sections .flex--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.home-sections .order-first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
// typography
.home-lead {
  text-align: center;
}

.home-cta {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 40px;
  padding: 0.4em 0;
  text-align: center;
  transition: all 0.15s ease-in-out;
}

.home-cta:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
}

@media (max-width: 775px) {
  //.home-sections .flex {
    //display: block; }
  .home-sections .home-course-inner {
    display: none;
  }
  .col-1 {
    width: 100%; }
  .col-50 {
    width: auto; }
  .col-33 {
      width: auto; }
  .push-right {
    margin-left: 0; } }
