
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="/assets/js/functions.js"></script>
    {% if page.url == '/courses/' or page.url =='/points/' %}
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/colorfinder-1.1.js"></script>
    <script src="/assets/js/gridScrollFx.js"></script>
    <script>
      new GridScrollFx( document.getElementById( 'grid' ), {
        viewportFactor : 0.4
      } );
    </script>
    {% endif %}
  </body>
</html>
