<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %} {{ page.title }} @ {% endif %} fifty KCC</title>
		<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="/assets/css/main.css" media="screen" charset="utf-8">
		<script src="/assets/js/modernizr.custom.js"></script>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		{% if page.url == '/timeline/' %}
		<script src="/assets/js/jquery.timelinr-0.9.6.js"></script>
		<script>
			(function($){
				$().timelinr({
					orientation: 	'vertical',
					issuesSpeed: 	300,
					datesSpeed: 	100,
					arrowKeys: 		'true',
					startAt:			3
				})
			})(jQuery);
		</script>
		{% endif %}
  </head>
	{% if page.url contains '/events/' %}
		<body class="events__page">
	{% elsif page.url contains '/courses/' %}
		<body class="courses__page">
	{% elsif page.url contains '/lectures/' %}
		<body class="lectures__page">
	{% elsif page.url contains '/points/' %}
		<body class="points__page">
	{% elsif page.url == '/timeline/' %}
		<body class="timeline__page">
	{% elsif page.url contains '/19' %}
		<body class="decades__page">
	{% elsif page.url contains '/20' %}
		<body class="decades__page">
	{% elsif page.url == '/contact/' %}
		<body class="contact__page">
	{% elsif page.url == '/50-fabulous-alumni/' %}
		<body class="fifty-fabulous-alumni__page">
	{% else %}
  <body>
		{% endif %}
    <div class="content-wrap">
			<div class="mobile-nav">
				<ul>
					{% if page.url == '/' %}
					<li><a href="#home-intro">Home</a></li>
					<li><a href="#courses-gallery">50 Free courses</a></li>
					<!-- <li><a href="#points_of_interest">50 Points of interest</a></li> -->
					<li><a href="#lectures">Faculty Lectures</a></li>
					<li><a href="#home-timeline">50 Years 1966 - 2016</a></li>
					<li><a href="#tell_us_your_story">Tell us your story</a></li>
					<li><a href="#fifty_fabulous_alumni">Nominate a fab alum</a></li>
					<li><a href="#home-events">Events</a></li>
					{% endif %}
					{% if page.url != '/' %}
					<li><a href="/">&lt; Home</a></li>
					{% endif %}
					{% if page.url contains '/19' %}
					<li><a href="/1960s/">1960s</a></li>
					<li><a href="/1970s/">1970s</a></li>
					<li><a href="/1980s/">1980s</a></li>
					<li><a href="/1990s/">1990s</a></li>
					<li><a href="/2000s/">2000s</a></li>
					<li><a href="/2010s/">2010s</a></li>
					{% endif %}
					{% if page.url contains '/20' %}
					<li><a href="/1960s/">1960s</a></li>
					<li><a href="/1970s/">1970s</a></li>
					<li><a href="/1980s/">1980s</a></li>
					<li><a href="/1990s/">1990s</a></li>
					<li><a href="/2000s/">2000s</a></li>
					<li><a href="/2010s/">2010s</a></li>
					{% endif %}
				</ul>
			</div>
	    <header>
				{% if page.url == '/' || page.url == '/index.html' %}
	      <div class="home-header-position">
				{% else %}
				<div class="header-position">
				{% endif %}
	        <h1 class="logo"><a href="/">KCC 50 Site</a></h1>
	        <nav class="site-nav">
	          <ul>
							{% if page.url == '/' %}
	            <li><a href="#home-intro">Home</a></li>
	            <li><a href="#courses-gallery">50 Free courses</a></li>
							<!-- <li><a href="#points_of_interest">50 Points of interest</a></li> -->
							<li><a href="#lectures">Faculty Lectures</a></li>
							<li><a href="#home-timeline">50 Years<br>1966 - 2016</a></li>
							<li><a href="#tell_us_your_story">Tell us<br>your story</a></li>
							<li><a href="#fifty_fabulous_alumni">Nominate<br> a fab alum</a></li>
							<li><a href="#home-events">Events</a></li>
							{% endif %}
							{% if page.url != '/' %}
							<li><a href="/">&lt; Home</a></li>
							{% endif %}
							{% if page.url contains '/19' %}
							<li><a href="/1960s/">1960s</a></li>
							<li><a href="/1970s/">1970s</a></li>
							<li><a href="/1980s/">1980s</a></li>
							<li><a href="/1990s/">1990s</a></li>
							<li><a href="/2000s/">2000s</a></li>
							<li><a href="/2010s/">2010s</a></li>
							{% endif %}
							{% if page.url contains '/20' %}
							<li><a href="/1960s/">1960s</a></li>
							<li><a href="/1970s/">1970s</a></li>
							<li><a href="/1980s/">1980s</a></li>
							<li><a href="/1990s/">1990s</a></li>
							<li><a href="/2000s/">2000s</a></li>
							<li><a href="/2010s/">2010s</a></li>
							{% endif %}
	          </ul>
	        </nav>
	        <div></div>
					<div class="mobile-nav-toggle"><span></span></div></div>
	    </header>
