---
layout: default
---
	<a class="breadcrumb" href="/courses/">&lt; Back to Courses</a>
	<section class="course-card">
	<div class="course-card_inner-col-b">
		<h1 class="large course-card__title">{{page.title}}</h1>
		<p>
			<b>Location:</b> {{page.location}}<br/>
			<b>Date/Time:</b> {{page.date-time}}
		</p>
		<p>{{page.description}}</p>
		<a class="course-card__cta button" href="http://www.kcc.edu">Sign up now</a>
	</div>
		<img class="course-card__photo" src="/assets/img/courses/{{page.photo}}" alt="{{page.title}} photo" />
	</section>
