---
layout: default
---
	<section class="gala-card__item">
		<h1 class="large gala-card__title">Let's Celebrate!</h1>
		<p>Power of Community Gala<br/>
Saturday, May 20 on KCC’s Riverfront Campus<br/>
You’re invited!
</p>
<p>6 p.m. - Cocktails<br/>
7 p.m. - Dinner<br/>
Desserts, drinks and fireworks follow dinner<br/>
Entertainment by Dave King Quintet and Acting Out Theatre Company<br/>
Black tie optional
</p>
<p><a href="/gala-reservation/">Reservation and Sponsorship opportunities</a></p>
<div class="gala-sponsors center">
	<img class="gala-sponsor" src="/assets/img/carlile-architects-logo.jpg" alt="carlile-architects-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/CSLB-logo.jpg" alt="CSLB-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/gordon-electric-supply-inc.jpg" alt="gordon-electric-supply-inc.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/milner.jpg" alt="milner.jpg">
	<img class="gala-sponsor" src="/assets/img/nucor.jpg" alt="nucor.jpg">
	<img class="gala-sponsor" src="/assets/img/riverside.jpg" alt="riverside.jpg">
</div>
	</section>
