---
layout: default
---
	<section class="gala-card__item">
		<h1 class="large gala-card__title">Let's Celebrate!</h1>
		<p>Power of Community Gala<br/>
Saturday, May 20 on KCC’s Riverfront Campus<br/>
You’re invited!
</p>
<p>6 p.m. - Cocktails<br/>
7 p.m. - Dinner<br/>
Desserts, drinks and fireworks follow dinner<br/>
Entertainment by Dave King Quintet and Acting Out Theatre Company<br/>
Black tie optional
</p>
<p><a href="https://51743.thankyou4caring.org/page.aspx?pid=379" class="button-cta">Reservation and Sponsorship opportunities</a></p>
<hr>
<div class="gala-sponsors center">
	<img class="gala-sponsor-large" src="/assets/img/nucor.jpg" alt="nucor.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/aqua-logo.jpg" alt="aqua-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/carlile-architects-logo.jpg" alt="carlile-architects-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/CSLB-logo.jpg" alt="CSLB-logo.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/gordon-electric-supply-inc.jpg" alt="gordon-electric-supply-inc.jpg">
  <img class="gala-sponsor" src="/assets/img/McCollyBennett_logo.jpg" alt="McCollyBennett_logo.jpg">
	<img class="gala-sponsor" src="/assets/img/milner.jpg" alt="milner.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/morgan-stanley-logo.jpg" alt="morgan-stanley-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/neca-ibew-logo.jpg" alt="neca-ibew-logo.jpg">
	<img class="gala-sponsor" src="/assets/img/riverside.jpg" alt="riverside.jpg"><br/>
	<img class="gala-sponsor" src="/assets/img/van-drunen-farms-logo.jpg" alt="van-drunen-farms-logo.jpg">
</div>
	</section>
